<ion-header class="ion-no-border" mode="md">
  <ion-toolbar mode="md" class="main-toolbar">
    <div class="toolbar-conntent">
      <div class="display-center">
        <ion-icon (click)="showOnboarding()" mode="md" name="location-outline" class="cursor-pointer mr-2" style="font-size: 1.3rem; height: 1.3rem; width: 1.3rem; font-weight: 500; margin-left: 0;"></ion-icon>
        <p class="mb-0">Address</p>
      </div>
      <ion-icon (click)="showOnboarding()" mode="md" name="card-outline" class="cursor-pointer" style="font-size: 1.3rem; height: 1.3rem; width: 1.3rem; color: black; font-weight: 500; margin-left: 0;"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div class="mt-4">
    <div class="subtitle-container">
      <h3>Promociones</h3>
    </div>
    <div class="promotions-container hide-scrollbar">
      <div class="promotion-card" *ngFor="let promotion of [1,1,1,1]" [ngStyle]="{'background': 'linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)) top center/cover, url(' + example1 + ') no-repeat center center', 'background-size': 'cover'}">
        <div class="subpromotion-item">
          <span>TOP</span>
        </div>

        <h4 class="mt-0">Every second cocktail is free</h4>
        <p class="mb-0">The promotion is valid on weekdays only</p>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <div class="subtitle-container">
      <h3>Menú</h3>
    </div>

    <div class="menu-categories-container">
      <div class="category-col" *ngFor="let category of menuCategories; let i = index">
        <div class="category-card" (click)="goToDetail(category)" [ngStyle]="{'background': 'linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)) top center/cover, url(' + category.image + ') no-repeat center center', 'background-size': 'cover'}">
          <div class="category-description">
            <div class="top-line"></div>
            <span class="mb-0">{{category.label}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
