<!-- <ion-header class="ion-no-border" mode="md">
  <ion-toolbar mode="md" class="main-toolbar">
    <div class="toolbar-conntent">
      <div class="display-center" (click)="openAddressSelect()">
        <ion-icon mode="md" name="location-outline" class="cursor-pointer mr-2" style="font-size: 1.3rem; height: 1.3rem; width: 1.3rem; font-weight: 500; margin-left: 0;"></ion-icon>
        <p class="mb-0 addressText" *ngIf="formattedAddress !== ''">{{formattedAddress}}</p>
        <p class="mb-0 addressText" *ngIf="formattedAddress === ''">Dirección de envío</p>
      </div>
      <ion-icon (click)="showOnboarding()" mode="md" name="card-outline" class="cursor-pointer" style="font-size: 1.3rem; height: 1.3rem; width: 1.3rem; color: black; font-weight: 500; margin-left: 0;"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header> -->

<ion-content color="light">
  <div class="hero-restaurant-container">
    <div (click)="showOnboarding()" class="hero-image-container" [ngStyle]="{'background': 'linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.0)) top center/cover, url(' + '/assets/img/example-images/hero-digital-menu2.jpg' + ') no-repeat', 'background-size': 'cover'}">
      <ion-icon mode="md" [name]="true ? 'heart' : 'heart-outline'" class="cursor-pointer"></ion-icon>
    </div>

    <div class="subtitle-container mt-4">
      <h3>Burger House</h3>
    </div>

    <div class="mt-3">
      <div class="information-address-container">
        <div class="address-detail">
          <ion-icon mode="md" name="location-outline" class="cursor-pointer address-icon"></ion-icon>
          <p class="mb-0 detailsAddressText">Calle V. de los Remedios 123. Col. virgencitas Nezahualcoyotl</p>
        </div>

        <p class="mb-0 link" (click)="openAddressSelect()">Más información</p>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <div class="categories-container hide-scrollbar">
      <div class="category-item-container" (click)="goToDetail(category)" [ngClass]="{'ml-18': idx === 0}" *ngFor="let category of menuSimpleCategories; let idx = index">
        <img [src]="category.image">
        <p class="mb-0">{{category.label}}</p>
      </div>

      <div class="category-item-container pr-16" (click)="goToCategories()">
        <img src="/assets/img/categories/more.svg">
        <p class="mb-0">Más</p>
      </div>
    </div>
  </div>

  <div class="mt-2">
    <div class="promotions-container hide-scrollbar">
      <div class="promotion-card" *ngFor="let promotion of [1,1,1,1]" [ngStyle]="{'background': 'linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)) top center/cover, url(' + example1 + ') no-repeat center center', 'background-size': 'cover'}">
        <div class="subpromotion-item">
          <span>TOP</span>
        </div>

        <h4 class="mt-0">Every second cocktail is free</h4>
        <p class="mb-0">The promotion is valid on weekdays only</p>
      </div>
    </div>
  </div>



  <div class="mt-4">
    <div class="subtitle-container">
      <h3>Favoritos</h3>
    </div>

    <div class="mb-4 mt-4" style="padding: 0 3px;">
      <!-- <div class="menu-item-card mb-4" *ngFor="let menuItem of menuData" (click)="drawer.toggleDrawer()"> -->
      <div class="menu-item-card mb-4" *ngFor="let menuItem of menuData" (click)="openMenuItemDetails(menuItem)">
        <ion-card>

          <div class="menu-item-image" [ngStyle]="{'background': 'linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,0)), url(' + menuItem.image + ') no-repeat'}">
            <div class="offer-container" *ngIf="menuItem.offer !== 0">
              <span>- {{menuItem.offer}}%</span>
            </div>
            <ion-icon mode="md" [name]="menuItem.favorite ? 'heart' : 'heart-outline'" class="cursor-pointer"></ion-icon>
          </div>
          <!-- <img src="assets/img/example-images/starter1.jpg" /> -->
          <ion-card-content>
            <h3 class="menu-item-title">{{menuItem.name}}</h3>

            <p class="menu-item-description">{{menuItem.description}}</p>
            <p class="menu-item-price mb-0">MXN {{menuItem.price | number: '1.2-2'}} <span class="text-muted">{{menuItem.minTime}}-{{menuItem.maxTime}} min</span></p>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>

  <!-- <div class="mt-4">
    <div class="subtitle-container">
      <h3>Menú</h3>
    </div>

    <div class="menu-categories-container">
      <div class="category-col" *ngFor="let category of menuCategories; let i = index">
        <div class="category-card" (click)="goToDetail(category)" [ngStyle]="{'background': 'linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)) top center/cover, url(' + category.image + ') no-repeat center center', 'background-size': 'cover'}">
          <div class="category-description">
            <div class="top-line"></div>
            <span class="mb-0">{{category.label}}</span>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</ion-content>
