.menu-item-card {
  padding: 0 7px;

  .menu-item-image {
    background-position: center !important;
    background-size: cover !important;
    min-height: 9rem;
    position: relative;

    ion-icon {
      font-size: 1.3rem;
      height: 1.2rem;
      width: 1.2rem;
      color: white;
      font-weight: 500;
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }

  .menu-item-title {
    font-size: 14px;
    font-weight: 500;
    color: black;
    margin-bottom: 1px;
  }

  .menu-item-description {
    color: #2b2b2b;
    font-size: 12px;
    margin-bottom: 5px;
  }

  .menu-item-price {
    color: black;
    font-size: 13px;
  }

  .offer-container {
    position: absolute;
    color: white;
    top: 10px;
    left: 0;
    background-color: #f73d79;
    text-align: center;
    min-width: 4rem;
    font-size: 11px;
    padding: 0 0;
    font-weight: 700;
    border-radius: 0 5px 5px 0;
  }

  ion-card {
    box-shadow: none;
    border: none !important;
  }

  ion-card-content {
    padding: 8px 0 8px 0;
  }
}

.main-toolbar {
  .toolbar-conntent {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
  }

  ion-icon, p {
    color: black;
  }
}

.category-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
  img {
    width: 2.5rem;
    max-width: 2.5rem !important;
    margin-bottom: 7px;
  }
  p {
    text-align: center;
    font-size: 13px;
  }
}

.categories-container {
  display: flex;
  overflow: scroll;
}

.addressText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 55vw;
  font-weight: 600;
  font-size: 13px;
}

.detailsAddressText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 55vw;
  font-size: 13px;
}


.promotions-container {
  margin-top: 16px;
  display: flex;
  overflow: scroll;
}

.promotion-card {
  padding: 13px 10px;
  background-color: black;
  min-height: 7rem;
  width: 13rem;
  min-width: 15rem;
  border-radius: 8px;
  margin-left: 16px;
  position: relative;

  h4, p {
    color: white;
  }

  h4 {
    font-size: 15px;
    width: 60%;
    margin-top: 10px !important;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 0;
  }

  p {
    line-height: 16px;
    margin-top: 5px;
    font-size: 13px;
    width: 80%;
    margin-bottom: 6px !important;
  }
}

.subpromotion-item {
  position: absolute;
  background-color: #f53d7a;
  top: 0;
  right: 0;
  border-radius: 0 8px 0 22px;
  width: 62px !important;
  min-height: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.menu-categories-container {
  margin: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;

  .category-col {
    width: 100%;
  }

  .category-card {
    width: 100%;
    min-height: 9rem;
    border-radius: 8px;
    background-color: white;
    position: relative;

    .category-description {
      position: absolute;
      bottom: 15px;
      left: 13px;
      font-size: 13px;
      font-weight: 600;
      color: white;
      letter-spacing: 0.5px;
    }

    .top-line {
      width: 27px;
      border-top: 1px solid white;
      margin-bottom: 2px;
    }
  }
}

.hero-restaurant-container {
  .hero-image-container {
    min-height: 16rem;
    position: relative;

    ion-icon {
      font-size: 1.4rem;
      height: 1.4rem;
      width: 1.4rem;
      color: white;
      font-weight: 500;
      position: absolute;
      right: 16px;
      top: 16px;
    }

    .logo-image-container {
      width: 6rem;
      height: 6rem;
      position: absolute;
      border-radius: 50%;
      bottom: -45px;
      left: 15px;
    }
  }

  .restaurant-details {
    margin: 16px;
  }
}

.information-address-container {
  margin-left: 12px;
  margin-right: 12px;
  display: flex;
  justify-content: space-between;
  p {
    font-size: 12px;
  }

  .link {
    color: #1a6896;
  }


  .address-detail {
    display: flex;
    align-items: center;

    .address-icon {
      font-size: 1rem;
      height: 1rem;
      width: 1rem;
      margin-left: 0;
      margin-right: 3px;
    }
  }
}


