<ion-content>
  <div class="login-container h-100">
    <div class="w-100 display-center">
      <img src="/assets/img/app-images/phone2.png" alt="logo-partners" class="login-img">
    </div>
    <div class="login-description-content rl-bt-135">
      <h1 class="login-title">Registrate</h1>
      <p class="login-description">Por favor registrate para continuar usando nuestra app</p>
      <!-- <p>¡Sin costo!</p> -->
    </div>

    <div class="login-form-container">
      <form class="example-form">
        <mat-form-field color="accent" class="example-full-width">
          <mat-label>Nombre y apellido</mat-label>
          <input type="text" autocomplete="off" matInput>
        </mat-form-field>

        <mat-form-field color="accent" class="example-full-width">
          <mat-label>Correo eletrónico</mat-label>
          <input autocomplete="off" matInput type="email">
        </mat-form-field>

        <mat-form-field color="accent" class="example-full-width">
          <mat-label>Contraseña</mat-label>
          <input autocomplete="off" matInput type="password">
        </mat-form-field>

        <mat-form-field color="accent" class="example-full-width">
          <mat-label>Confirmar contraseña</mat-label>
          <input autocomplete="off" matInput type="password">
        </mat-form-field>
      </form>
    </div>

    <div class="login-button-container mb-4">
      <button class="login-button lg-button">Continuar</button>
      <!-- <button class="login-button rg-button">Registraste</button> -->
    </div>
  </div>
</ion-content>
