<ion-content>
  <div class="login-container h-100">
    <div class="w-100 display-center">
      <img src="/assets/img/app-images/ensalada.svg" alt="logo-partners" class="login-img">
    </div>
    <div class="login-description-content rl-bt-135">
      <h1 class="login-title">Bienvenido</h1>
      <p class="login-description">Por favor inicia sesión o registrate para continuar usando nuestra app</p>
      <!-- <p>¡Sin costo!</p> -->
    </div>

    <div class="login-button-container">
      <button class="login-button lg-button mr-4">Inicia sesión</button>
      <button class="login-button rg-button">Registraste</button>
    </div>
  </div>
</ion-content>
